body{
    position: relative;
}
main{
    margin: 0px 100px;
}
.photograph__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: flex-end;
    gap: 3rem;
    background-color: #FAFAFA;
    padding: 2rem;
}
.photograph__header__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
.photograph__header__name{
    font-size: 3rem;
    font-weight: bold;
    color: #D3573C
}
.photograph__header__location{
    font-size: 1.2rem;
    font-weight: bold;
    color: #901C1C;
}
.photograph__header__image{
    min-width: 5rem;
    min-height: 5rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.photograph__header__contact-button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
/* ======== PHOTOS ======== */
.photograph__portfolio{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 1rem;
}
.photograph__portfolio__menu-bar{
    justify-content: flex-start;
    gap: 2rem;
}
.portfolio__menu__select{
    border: none;
    background-color: #901C1C;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
}

/* ======== MODAL ======== */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.contact__modal{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0%;
    background-color: #ffffffba;
    z-index: 5;
}
.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}

.modal__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    
}
.modal__form__input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;  
}
.modal__form__input--message {
    height: 200px;
    resize: none;
}
.modal__span {
    display: flex;
    flex-flow: column-reverse wrap;
    width: 100%;
    align-items: flex-start;
}
.modal__photographer{
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 1rem;
}
.modal__close {
    cursor: pointer;
    border: 0;
    background: transparent;
}
.modal__submit {
    width: 30%;
    height: 68px;
    border: none;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

form label {
    color: #312E2E;
    font-size: 36px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.photograph__portfolio__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
    gap: 2rem;
    padding: 2rem;
    background-color: #FAFAFA;
}
.media__card {
    padding: 1rem;
    border-radius: 5px;
    background-color: #FAFAFA;
}
.media__card__link{

}
.media__card__media{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.media__text-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}
.media__card__title{
    font-size: 1.2rem;
    font-weight: bold;
    color: #901C1C;
}
.media__likes__icon__heart{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.media__likes{
    display: flex;
    gap: .5rem;
}
.media__likes__number{
    font-size: 1.2rem;
    font-weight: bold;
    color: #901C1C;
}

/* ======== LIGHTBOX ======== */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffba;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lightbox__container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}
.lightbox__left-part {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.lightbox__previous-img {
    background: transparent;
    border: none;
    cursor: pointer;
}
.lightbox__central-part {
    height: 80%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.lightbox__media {
    height: 100%;
    width: 100%;
    background: lightgray;
    object-fit: cover;
}
.lightbox__img-title {
    color: #901C1C;
    font-size: 1.5rem;
}
.lightbox__right-part {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.lightbox__next-img {
    background: transparent;
    border: none;
    cursor: pointer;
}
.lightbox__button--close {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5%;
    margin: 1rem;
}
.lightbox__close-cross {
    height: 1.5rem;
}

.arrow{
    height: 50px;
    color:#901C1C;
}

.returned {
    transform: rotate(180deg);
}
/* ======== TOTAL-LIKES ======== */


.total-likes__container{
    position: sticky;
    bottom: 0px;
    left: 99%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ee8080;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: bold;
    width: 20rem;
    height: 3rem;
    margin-right: 2rem;
}
.total-likes__heart{
    width: 1rem;
    height: 1rem;
}

.visible {
    display: flex;
}
.invisible {
    display: none;
}

/* ==== Animations ==== */
.heart { transition: transform 0.2s ease-in-out; }
.heart:hover { transform: scale(1.2); }
.heart:active { transform: scale(1); }